<% content_for :css do %>
    <%= stylesheet_link_tag "post" %>
<% end %>
<div class="w-100 position-relative">
    <% if flash[:notice] %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong><%= flash[:notice] %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% end %>
    <div class="d-flex justify-content-end mx-auto w-50 mt-5">
        <%= link_to 'Create', new_article_path(), class: 'btn btn-success' %>
    </div>
    <div class="d-flex justify-content-center table-responsive overflow-y-scroll">
        <table class="table w-50 h-50">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col" style="width: 150px;">Action</th>
                </tr>
            </thead>
            <tbody>
                <% @article_details.each do |articleDetail| %>
                    <tr>
                        <th scope="row"><%= articleDetail.id %></th>
                        <td><%= articleDetail.title %></td>
                        <td>
                            <%= link_to 'Delete', article_path(articleDetail), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                            <%= link_to 'Edit', edit_article_path(articleDetail.id), class: 'btn btn-primary' %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <%= will_paginate @article_details %>
    </div>
</div>
