<div class="mt-5">
    <div class="d-flex justify-content-center">
        <%= form_with class: "w-50", data: { controller: "input-validation", action: "turbo:submit-end->input-validation#validate" } do |f|%>
            <div class="mb-3">
                <%= f.label :username, "Username", class: "form-label" %>
                <%= f.text_field :username, placeholder: "Enter username", class: "form-control" %>
                <p data-input-validation-target="errorContainer" data-error-type="username" role="alert" class="text-danger"></p>
            </div>
            <div class="mb-3">
                <%= f.label :password, "Password", class: "form-label" %>
                <%= f.text_field :password, placeholder: "Enter password", class: "form-control" %>
            </div>
            <div class="mb-3 d-flex justify-content-center">
                <%= f.submit value: "Login", class: "btn btn-primary w-50" %>
            </div>
        <% end %>
    </div>
</div>
