<% content_for :title, "Edit post" %>
<% content_for :css do %>
    <%= stylesheet_link_tag "post" %>
<% end %>

<div class="mt-5">
    <% if flash[:notice] %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong><%= flash[:notice] %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% end %>
    <div class="d-flex justify-content-center">
        <%= form_with model: @post, class: "w-50", method: :put, data: { controller: "input-validation", action: "turbo:submit-end->input-validation#validate" } do |f|%>
            <div class="mb-3">
                <%= f.label :title, "Title", class: "form-label" %>
                <%= f.text_field :title, placeholder: "Enter title", class: "form-control" %>
                <p data-input-validation-target="errorContainer" data-error-type="title" role="alert" class="text-danger"></p>
            </div>
            <div class="mb-3">
                <%= f.label :description, "Description", class: "form-label" %>
                <%= f.text_area :description, class: "form-control", rows: "3" %>
            </div>
            <div class="mb-3">
                <%= f.label :thumbnail, "Thumbnail", class: "form-label" %>
                <%= f.file_field :thumbnail, class: "form-control" %>
                <p data-input-validation-target="errorContainer" data-error-type="thumbnail" role="alert" class="text-danger"></p>
                <%= image_tag @post.thumbnail, class: "rounded image-preview" if @post.thumbnail?%>
            </div>
            <%= f.submit value: "Update", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>
