<% content_for :title, "Post list" %>
<% content_for :css do %>
    <%= stylesheet_link_tag "post" %>
<% end %>

<div class="w-100 position-relative">
    <% if flash[:notice] %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong><%= flash[:notice] %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% end %>
    <div class="d-flex justify-content-end mx-auto w-50 mt-5">
        <%= link_to 'Create', new_post_path(), class: 'btn btn-success' %>
    </div>
    <div class="d-flex justify-content-center table-responsive">
        <table class="table w-50 h-50">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Thumbnail</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col" style="width: 150px;">Action</th>
                </tr>
            </thead>
            <tbody>
                <% @posts.each do |post| %>
                    <tr>
                        <th scope="row"><%= post.id %></th>
                        <td>
                            <% if post.thumbnail? %>
                                <%= image_tag post.thumbnail, class: "rounded image-list" %>
                            <% else %>
                                <%= image_tag("no-image.png", class: "rounded image-list") %>
                            <% end %>
                        </td>
                        <td><span class="limit-text"><%= post.title %></span></td>
                        <td><span class="limit-text"><%= post.description %></span></td>
                        <td>
                            <%= link_to 'Delete', post, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                            <%= link_to 'Edit', edit_post_path(post.id), class: 'btn btn-primary' %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <div class="pagination-wrapper">
        <%= will_paginate @posts %>
    </div>
</div>
